@charset "UTF-8";

@font-face {
    font-family: 'SuperPunch';
    src: url(fonts/SUPER\ PUNCH.otf) format('opentype');
}

body{
    background-image: linear-gradient(135deg ,rgb(255, 191, 0), rgb(255, 6, 6));
    height: 100vh;
    text-align: center;
}
section{
    width: 800px;
    height: 400px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.695);
    margin: 12% auto;
}
.time_box{
    width: 100px;
    background-color: rgba(19, 19, 19, 0.848);
    color: rgba(255, 255, 255, 0.766);
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.621);
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.563);
    padding: 100px 50px;
    margin: 50px 10px;
    border-radius: 50px;
    font: normal 6em SuperPunch;
}