@charset "UTF-8";

body{
    text-align: center;
    background-color: rgb(1, 49, 51);
    color:whitesmoke;
}
h1{
    font: bold 2.5em Arial;
    text-shadow: 2px 2px 1px rgba(50, 68, 230, 0.692);
}
section{
    background-color: aliceblue;
    color:black;
    margin: auto;
    width: 380px;
    height:auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.805);
}
#desc1{
    text-align: left;
}
footer{
    font-style: italic;
}